<h3>Listado de Heroes</h3>

<!-- si es verdadero se muestra / falso no -->
<div *ngIf="deletedHero; else nothingWasDeleted">
  <h3>Heroe borrado
    <small class="text-danger">
      {{ deletedHero }}</small></h3>
</div>
<ng-template #nothingWasDeleted>
  <h3>No ha mostrado nada.</h3>
</ng-template>

<button
  *ngIf="heroNames.length > 0"
  (click)="removeLastName()"
  class="btn btn-outline-danger">
  Borrar ultimo heroe
</button>

<ul class="mt-2 list-group">
    <!-- les: dejar / name : 1 nombre / de lista heroNames -->
  <li *ngFor="let name of heroNames"
  class="list-group-item">
  {{ name }}
</li>
</ul>
